# Don't track content of these folders
Binaries/
Saved/
Intermediate/
Plugins/Developer/
DerivedDataCache/
Content/NiagaraMagicalSlashes
Content/MinimalistUIPack
Content/HandpaintedVol2_Campsite
Content/DreamscapeSeries
Content/Stylized_forest_2
Content/Swamp_Forest
Content/Wall_Hiding_System

LocalDDC

.vs
.idea/